@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
// font-family: 'Poppins', sans-serif; npm run sass
// *************import file*****************
//
// start css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

//*************Nav bar
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    h1 {
        display: flex;
        align-items: flex-end;
        font-family: "Akronim", cursive;
        font-size: 27px;
        letter-spacing: 3.1px;
        span {
            font-size: 12px;
            color: #fc036b;
            margin-left: 10px;
            margin-bottom: 5px;
            font-family: 'Ephesis', cursive;
            letter-spacing: 1px;
        }
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin: 0 30px;
            display: inline-block;
            position: relative;
             ::after {
                content: ' ';
                background: #fc036b;
                width: 0;
                height: 2px;
                display: block;
                transition: all 0.5s;
                margin: auto;
            }
             :hover::after {
                width: 100%;
            }
            a {
                color: whitesmoke;
                font-size: 16px;
            }
        }
        .active {
            font-weight: bold;
            a {
                color: #fc036b;
            }
        }
        .ctn {
            padding: 8px 15px;
            background: #fc036b;
            border-radius: 30px;
            color: whitesmoke;
            text-decoration: none;
            a {
                color: whitesmoke;
            }
        }
    }
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/nature-ga3c4bd416_1920.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-content {
        margin-bottom: 150px;
        color: whitesmoke;
        text-align: center;
        h2 {
            font-size: 4vmin;
        }
        .line {
            width: 150px;
            height: 4px;
            background: #fc036b;
            margin: 10px auto;
            border-radius: 5px;
        }
        h1 {
            font-size: 7vmin;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .ctns {
            padding: 8px 15px;
            background: #fc036b;
            border-radius: 30px;
            color: whitesmoke;
            text-decoration: none;
            transition: all .5s;
            .ctns:hover {
                color: #fc036b;
                background: whitesmoke;
            }
        }
    }
}